* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.first {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    max-height: 100%;
    height: auto;
    width: 100%;
    background-image: url(./party.jpg);
    background-size: cover;
}
